input[type="checkbox"] {position: absolute; left:-9999px;} /*Скрываем checkbox*/

.red {background: red;}
.green {background: green;}
.blue {background: blue;}
.red,.green,.blue {border-radius:5px; padding:1px 10px 5px; color: white;}
label{margin-right:30px; margin-left:20px; text-decoration: underline; cursor:pointer;}
label[for="red"] {color: red;}
label[for="green"] {color: green;}
label[for="blue"] {color: blue;}

input:checked#red ~ .red {display: none;}
#red:checked ~ label[for="red"]{color: #ffd7d1}
#green:checked ~ .green {display:none;}
#green:checked ~ label[for="green"]{color:#d3ffd5 }
#blue:checked ~ .blue {display:none;}
#blue:checked ~ label[for="blue"]{color:#daefff}
