body {margin:0;}
ul{padding: 0; list-style-type: none;}
div{background: #1CA5FF; text-transform: uppercase; }
.menu { position: relative; width: 900px; margin: auto; font-family: Impact; font-weight: normal; font-size: 18px;}

.subtravels {display: none; position: absolute; left: 0;}
li {display: inline-block;}
a{display:inline-block; color: white; padding: 5px 10px; text-align: center; text-decoration: none; } /* для наглядности border: 1px solid #000;*/
.subtravels li { float: left; }  /* float: left; убирает пробельные символы между inline-block   */
.subtravels a {background: #eee; color: #a1a1a1; text-transform: capitalize;}
.menu a:hover, .menu a:active, .menu a:focus {background: #eee; color: #a1a1a1;}
a.travels:hover ~.subtravels, a.travels:focus ~.subtravels, a.travels:active ~.subtravels
{display: inline-block;}