body {margin:0;}
div{
    background: #8a2be2;
    text-transform: uppercase;
}  /* overflow: hidden; вместо class="clear"!!!*/
.menu{
    width: 900px;
    margin: auto;
}  /* для наглядности background: rgb(100,200,200)*/
a{
    display:block;
    color: white;
    padding: 5px 20px;
    box-sizing: border-box;
    -width: 125px;
    text-align: center;
    text-decoration: none;
    float:left;
    font: bold 20px Economica;
} /* для наглядности border: 1px solid #000;*/
a:hover, a:focus{background:#eee; color: #a1a1a1; box-shadow: 0 0 2px 2px #e2e2e2;}
.more {float: right; margin-right: 30px;}
.clear{clear: right;}